.container {
  padding: 25px 25px 25px 25px;
  position: fixed;
  width: 500px;

  a {
    color: #263238;
  }
}

.property {
  margin-top: 10px;
}

.label {
  font-weight: bold;
}

.image {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #546E7A;
}

.removeIcon {
  color: firebrick;
}

.okIcon {
  color: darkgreen;
}
