.container {
  border: 1px solid silver;
  position: relative;
}

.main {
  padding: 0 0 0 0;
}

.row {
  position: relative;
  height: 100%;
}

.sidebar {
  border-left: 1px solid silver;
  background: lightgray;
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;

  &.affixed {
    position: fixed;
    width: 37%;
    right: 5%;
  }
}
