.selected {
  background: #263238;
  color: #ECEFF1;
  box-shadow: 0px 0px 5px 0px rgba(38,50,56,.5)
}

.not-selected:hover {
  cursor: pointer;
  background: rgb(230, 230, 230);
}

.removeIcon {
  color: firebrick;
}

.okIcon {
  color: darkgreen;
}

.resolved {
  text-align: center;
}
